/* components/Navbar.module.css */

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: black;
    color: #fff;
    border-radius: 20px;
  }
  
  .logo a {
    color: #fff;
    font-size: 1.5rem;
    text-decoration: none;
  }
  
  .navLinks {
    list-style: none;
    display: flex;
    gap: 1rem;
  }
  
  .navItem a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s ease;
  }
  
  .navItem a:hover {
    color: #f0a500;
  }
  