@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  padding: 1rem;
}

@keyframes morph {
  0% {
    border-radius: 50%;
    transform: scale(1);
  }
  50% {
    border-radius: 25%;
    transform: scale(1.1);
  }
  100% {
    border-radius: 50%;
    transform: scale(1);
  }
}

.morph {
  animation: morph 8s ease-in-out infinite;
  transition: all 1s ease-in-out;
}

.border-black {
  border: 5px solid black;
}